{% extends 'blog/base.html' %}

{% block main_area %}

{% if post_list.exists %}
{% for p in post_list %}
<!-- Blog post-->
<div class="card mb-4">
    {% if p.head_image %}
    <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p.title }}" />
    {% else %}
    <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/700/400" alt="{{ p.title }}">
    {% endif %}
    <div class="card-body">
        <div class="small text-muted">January 1, 2021</div>
        <h2 class="card-title h4">{{ p.title }}</h2>
        {% if p.hook_text %}
        <h5 class="text-muted"> {{ p.hook_text }} </h5>
        {% endif %}
        <p class="card-text">{{ p.content | truncatewords:50 }}</p>
        <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more →</a>
    </div>
    <div class="card-footer text-muted">
        Posted on {{ p.created_at }} Update at {{ p.updated_at }} by
        <a href="#">{{ p.author | upper }}</a>
    </div>
</div>
{% endfor %}
{% else %}
<h1>아직 게시물이 없습니다.</h1>
{% endif %}

{% endblock %}